/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Personalización de la notificación */
.custom-toast {
    background-color: rgb(34, 197, 94); /* Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    padding: 1rem; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    position: relative; /* Necesario para posicionar la cruz de cerrar */
  }
  
  /* Estilo para el botón de cerrar */
  .custom-toast .p-toast-close-icon {
    position: absolute; /* Posición absoluta */
    top: 10px; /* Ajusta según sea necesario */
    right: 10px; /* Ajusta según sea necesario */
    color: white; /* Color de la cruz */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
  }
  
  /* Estilo para el título */
  .custom-toast h5 {
    margin: 0; /* Elimina el margen */
    font-size: 1.2rem; /* Tamaño de fuente */
    color: white; /* Color de texto */
  }
  
  /* Estilo para el detalle del mensaje */
  .custom-toast p {
    margin: 0; /* Elimina el margen */
    font-size: 1rem; /* Tamaño de fuente */
    color: white; /* Color de texto */
  }
  
  