<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
   
    <!-- Título -->
    <h1 class="sm:text-3xl text-center font-medium title-font text-gray-900 mb-5">
      Encuentra el espacio ideal para tu equipo
    </h1>

    <div class="flex flex-wrap w-full mb-20 justify-center">
      <div class="lg:w-1/2 w-full lg:mb-0 flex justify-center">
        <div class="ml-10">
          <form (submit)="onFilterSubmit($event)" class="bg-white p-4 rounded-lg shadow-md flex space-x-4">
            <div>
              <label for="spaceType" class="block text-gray-700 text-sm font-bold mb-2">Tipo de Espacio:</label>
              <select id="spaceType" [(ngModel)]="selectedSpaceType" name="spaceType" class="bg-gray-100 border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <option value="">Selecciona un tipo de espacio</option>
                <option value="meeting_room">Sala de Reuniones</option>
                <option value="coworking">Coworking</option>
                <option value="office">Oficina</option>
              </select>
            </div>
      
            <div>
              <label for="capacity" class="block text-gray-700 text-sm font-bold mb-2">Capacidad:</label>
              <select id="capacity" [(ngModel)]="selectedCapacity" name="capacity" class="bg-gray-100 border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <option value="">Selecciona una capacidad</option>
                <option [value]="5">Hasta 5 personas</option>
                <option [value]="10">Hasta 10 personas</option>
                <option [value]="20">Hasta 20 personas</option>
              </select>
            </div>
      
              <div>
                <label for="startDate" class="block text-gray-700 text-sm font-bold mb-2">Fecha de reserva:</label>
                <input type="date" id="startDate" [(ngModel)]="selectedStartDate" name="startDate" class="bg-gray-100 border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
              </div>
              <!-- hora de reservation -->
              <div>
                <label for="startTime" class="block text-gray-700 text-sm font-bold mb-2">Hora de reserva:</label>
                <input type="time" id="startTime" [(ngModel)]="selectedStartTime" name="startTime" class="bg-gray-100 border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
              </div>

            <div class="flex items-end">
              <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400">
                Filtrar
              </button>
              <button *ngIf="user?.is_admin" type="button" (click)="openCreateModal()" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-green-400 ml-4">
                Crear
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="container mx-auto p-4">
        <!-- Ajustamos el contenedor para usar grid -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
          <div *ngFor="let space of filteredSpaces">
            <div class="bg-gray-100 p-6 rounded-lg cursor-pointer" (click)="openModal(space)">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="{{ space.photo }}" alt="content">
              <h1 class="tracking-widest text-green-500 font-medium title-font">{{ space.name }}</h1>
              <p class="text-gray-600">Capacidad: {{ space.capacity }} personas</p>
              <p class="text-gray-600">Tipo de Espacio: {{ typeSpaces(space.type)}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center z-50">
      <div class="fixed inset-0 bg-black opacity-30"></div>
      
      <div class="bg-white p-5 rounded-lg shadow-lg max-w-md mx-auto relative z-10">
        <h2 class="text-xl font-bold">{{ selectedSpace.name }}</h2>
        <p><strong>Descripción:</strong> {{ selectedSpace.description }}</p>
        <p><strong>Capacidad:</strong> {{ selectedSpace.capacity }} personas</p>
        <p><strong>Horarios ocupados:</strong></p>
        <ul>
          <li *ngFor="let reservation of selectedSpace.reservations">
            {{ reservation.start_time | date:'short' }} - {{ reservation.end_time | date:'short' }}
          </li>
        </ul>

        <!-- Botones que solo se muestran si el usuario es administrador -->
        <div *ngIf="user?.is_admin" class="flex space-x-2 mt-4">
          <button (click)="editSpace(selectedSpace)" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-1 px-3 rounded">
            Editar
          </button>
          <button (click)="deleteSpace(selectedSpace)" class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-3 rounded">
            Eliminar
          </button>
        </div>

        <div class="flex space-x-2 mt-4">
          <button (click)="closeModal()" class="bg-gray-300 hover:bg-gray-400 text-black font-bold py-1 px-3 rounded">
            Cerrar
          </button>
        </div>
      </div>
    </div>

    <!-- Modal de Edición -->
    <div *ngIf="isEditing" class="fixed inset-0 flex items-center justify-center z-50">
      <div class="fixed inset-0 bg-black opacity-30"></div>

      <div class="bg-white p-5 rounded-lg shadow-lg max-w-md mx-auto relative z-10">
        <h2 class="text-xl font-bold">Editar Espacio</h2>
        <form (ngSubmit)="updateSpace(selectedSpace)">
          <div class="mb-4">
            <label for="name" class="block text-gray-700">Nombre:</label>
            <input id="name" [(ngModel)]="selectedSpace.name" name="name" required class="border rounded w-full py-2 px-3" />
          </div>
          <div class="mb-4">
            <label for="description" class="block text-gray-700">Descripción:</label>
            <textarea id="description" [(ngModel)]="selectedSpace.description" name="description" class="border rounded w-full py-2 px-3"></textarea>
          </div>
          <div class="mb-4">
              <label for="capacity" class="block text-gray-700 text-sm font-bold mb-2">Capacidad:</label>
              <select id="capacity" [(ngModel)]="selectedSpace.capacity" name="capacity" class="bg-gray-100 border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <option value="">Selecciona una capacidad</option>
                <option [ngValue]="5">Hasta 5 personas</option>
                <option [ngValue]="10">Hasta 10 personas</option>
                <option [ngValue]="20">Hasta 20 personas</option>
              </select>
          </div>
          <div class="mb-4">
            <label for="spaceType" class="block text-gray-700 text-sm font-bold mb-2">Tipo de Espacio:</label>
            <select id="spaceType" [(ngModel)]="selectedSpace.type" name="spaceType" class="bg-gray-100 border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
              <option value="">Selecciona un tipo de espacio</option>
              <option value="meeting_room">Sala de Reuniones</option>
              <option value="coworking">Coworking</option>
              <option value="office">Oficina</option>
            </select>
          </div>
          <div class="mb-4">
            <label for="photo" class="block text-gray-700">URL de la Imagen:</label>
            <input id="photo" [(ngModel)]="selectedSpace.photo" name="photo" required class="border rounded w-full py-2 px-3" />
          </div>
          <div class="flex space-x-2 mt-4">
            <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-1 px-3 rounded">
              Guardar Cambios
            </button>
            <button (click)="closeEditModal()" class="bg-gray-300 hover:bg-gray-400 text-black font-bold py-1 px-3 rounded">
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>


    
    <!-- Modal de Crear Espacio -->
    <div *ngIf="isCreateModalOpen" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
      <div class="bg-white rounded-lg p-8 shadow-md max-w-lg w-full">
        <h2 class="text-lg font-bold mb-4">Crear Espacio</h2>
        <form (ngSubmit)="createSpace(newSpace)">
          <div class="mb-4">
            <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Nombre:</label>
            <input type="text" id="name" [(ngModel)]="newSpace.name" name="name" required class="bg-gray-100 border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
          </div>
          
          <div class="mb-4">
            <label for="description" class="block text-gray-700 text-sm font-bold mb-2">Descripción:</label>
            <textarea id="description" [(ngModel)]="newSpace.description" name="description" required class="bg-gray-100 border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
          </div>

          <div class="mb-4">
            <label for="type" class="block text-gray-700 text-sm font-bold mb-2">Tipo de Espacio:</label>
            <select id="type" [(ngModel)]="newSpace.type" name="type" required class="bg-gray-100 border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
              <option value="">Selecciona un tipo de espacio</option>
              <option value="meeting_room">Sala de Reuniones</option>
              <option value="coworking">Coworking</option>
              <option value="office">Oficina</option>
            </select>
          </div>
    
          <div class="mb-4">
            <label for="capacity" class="block text-gray-700 text-sm font-bold mb-2">Capacidad:</label>
            <select id="capacity" [(ngModel)]="newSpace.capacity" name="capacity" required class="bg-gray-100 border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
              <option value="">Selecciona una capacidad</option>
              <option [value]="5">Hasta 5 personas</option>
              <option [value]="10">Hasta 10 personas</option>
              <option [value]="20">Hasta 20 personas</option>
            </select>
          </div>
    
          <div class="mb-4">
            <label for="imageUrl" class="block text-gray-700 text-sm font-bold mb-2">URL de la Imagen:</label>
            <input type="text" id="imageUrl" [(ngModel)]="newSpace.photo" name="imageUrl" required class="bg-gray-100 border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
          </div>
    
          <div class="flex items-end">
            <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400">
              Crear
            </button>
            <button type="button" (click)="closeCreateModal()" class="ml-4 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-red-400">
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
    
  </div>
</section>
