<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
   
    <!-- Título -->
    <h1 class="sm:text-3xl text-center font-medium title-font text-gray-900 mb-5">
      Encuentra el espacio ideal para tu equipo
    </h1>

    <div class="flex flex-wrap w-full mb-20 justify-center">
      <div class="lg:w-1/2 w-full lg:mb-0 flex justify-center">
        <div class="ml-10">
          <form (submit)="onFilterSubmit($event)" class="bg-white p-4 rounded-lg shadow-md flex space-x-4">
            <div>
              <label for="spaceType" class="block text-gray-700 text-sm font-bold mb-2">Tipo de Espacio:</label>
              <select id="spaceType" [(ngModel)]="selectedSpaceType" name="spaceType" class="bg-gray-100 border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <option value="">Selecciona un tipo de espacio</option>
                <option value="meeting_room">Sala de Reuniones</option>
                <option value="coworking">Coworking</option>
                <option value="office">Oficina</option>
              </select>
            </div>

            <div>
              <label for="capacity" class="block text-gray-700 text-sm font-bold mb-2">Capacidad:</label>
              <select id="capacity" [(ngModel)]="selectedCapacity" name="capacity" class="bg-gray-100 border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <option value="">Selecciona una capacidad</option>
                <option [value]="5">Hasta 5 personas</option>
                <option [value]="10">Hasta 10 personas</option>
                <option [value]="20">Hasta 20 personas</option>
              </select>
            </div>

            <div>
              <label for="startDate" class="block text-gray-700 text-sm font-bold mb-2">Fecha de inicio:</label>
              <input type="date" id="startDate" [(ngModel)]="selectedStartDate" name="startDate" class="bg-gray-100 border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
            </div>
      
            <div class="flex items-end">
              <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400">
                Filtrar
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="container mx-auto p-4">
        <div *ngFor="let space of filteredSpaces" class="flex flex-wrap -m-4">
          <div class="xl:w-1/4 md:w-1/2 p-5">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/720x400"
                alt="content">
              <h1 class="tracking-widest text-green-500 font-medium title-font">{{ space.name }}</h1>
              <p class="text-gray-600">Capacidad: {{ space.capacity }} personas</p>
              <p class="text-gray-600">Tipo de Espacio: {{ space.type }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>